.sideBarContainer {
  min-width: 200px;
  max-width: 320px;
  width: 25vw;
  padding: 10px;
}

.sideBarContentLink {
  padding: 7px;
  margin-left: 0.5%;
  text-decoration: none;
  color: var(--primary-text);
  border-radius: 4px;
  cursor: pointer;
  justify-content: left;
  transition: all 0.3s ease-in-out;
}

.sideBarContentLink:hover {
  background: var(--hover-overlay);
}

.sideBarContentUserImageBox {
  position: relative;
}

.sideBarContentImage {
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 100%;
  object-fit: cover;
}

.sideBarContentLabel {
  font-size: 15px;
  line-height: 19.9995px;
  font-weight: 500;
  margin: 10px;
}

.downBarHeading {
  color: var(--secondary-icon);
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* active contact side */
.activeContactHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.sideBarContainer .searchIcon {
  width: 19px;
  height: 19px;
  opacity: 0.6;
  vertical-align: middle;
  fill: var(--primary-icon);
}
