.navBarContainer {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: var(--primary-background);
  box-shadow: 0px 0px 5px var(--shadow-2);
  justify-content: space-between;
  padding: 5px 10px;
  z-index: 999;
  border-bottom: 1px solid var(--shadow-1);
}

.flexBox {
  display: flex;
  justify-content: space-between;
}
.navBarLogo .main-logoIcon {
  height: 40px;
  margin-right: 8px;
  cursor: pointer;
  margin-left: 10px;
}
.mainLogoLetter {
  fill: var(--white);
}
.navBarSearchBox .searchIcon {
  fill: var(--secondary-icon);
  width: 20px;
  height: 30px;
}
.navBarSearchBox {
  background-color: var(--secondary-background-1);
  width: 19vw;
  padding: 4px 10px;
  border-radius: 50px;
  text-align: left;
}
.mainSearchIconResponse {
  display: none;
}

.navBarSearchBox > input {
  padding: 5px;
  background-color: transparent;
  border: none;
  margin-right: 50px;
}
.navBarSearchBox > input::placeholder {
  font-size: 14px;
}
.navBarMenu {
  margin: 4px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}
.navBarMainHeader {
  height: 100%;
  width: 30%;
}
.navBarMainHeader svg {
  fill: var(--secondary-icon);
  width: 30px;
  height: 100%;
}
.navBarMainHeader .active svg {
  fill: var(--primary-1);
}
.navBarMainHeader .active {
  border-bottom: 3px solid var(--primary-1);
  height: 100%;
  width: 30%;
  cursor: pointer;
  position: relative;
}

.navBarUserBox .iconWrapper-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-background-1);
  margin: 0 5px;
  position: relative;
  cursor: pointer;
}
.navBarUserBox .iconWrapper-2 > svg {
  padding: 10px;
  width: 40px;
  height: 40px;
}
.navBarUserBox .iconWrapper-2:hover {
  background-color: var(--hover-overlay-2);
}
.userProfileCard {
  cursor: pointer;
  border-radius: 150px;
}
.userProfileCard:hover {
  background-color: var(--hover-overlay);
}
.userProfileCard img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 3px 5px;
  object-fit: cover;
}
.userProfileCard p {
  font-size: 14px;
  font-weight: 500;
  margin: 3px 10px;
  margin-left: 0;
  padding-top: 7px;
  font-weight: bold;
}
.accountMenuContainer,
.notificationsContainer {
  position: absolute;
  min-width: 330px;
  margin-right: 15px;
  width: 15vw;
  top: 50px;
  right: 0;
  background-color: var(--primary-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-1), 0 8px 18px var(--shadow-2);
}
.notificationsContainer {
  right: 0px;
}
.accountMenuContainer hr {
  border-color: var(--shadow-1);
}

.darkModeBox,
.accessibilityBox {
  justify-content: flex-start;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
}
.darkModeBox > p {
  padding-top: 8px;
}
.accessibilityBox > p {
  padding-top: 8px;
}
.darkModeBox:hover,
.accessibilityBox:hover {
  background-color: var(--hover-overlay);
}
.darkModeBox .darkModeIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--shadow-1);
  margin-right: 10px;
}
.accessibilityBox .alertIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--shadow-1);
  margin-right: 10px;
  stroke: none !important;
}

.AccountMenuUserProfileCard {
  justify-content: flex-start;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
}
.AccountMenuUserProfileCard:hover {
  background-color: var(--hover-overlay);
}
.AccountMenuUserProfileCard img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}
.AccountMenuUserProfileCard p {
  font-size: 16px;
  text-align: left;
}
small {
  font-size: 12px;
  text-align: left;
  color: var(--secondary-text);
}
.logoutIconWrap {
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--shadow-1);
  margin-right: 10px;
}
.logOutBox svg {
  width: 30px;
  height: 30px;
}
.notificationsHeader {
  justify-content: space-between;
  margin: 10px;
}
.notificationsHeader h1 {
  font-size: 20px;
  font-weight: 600;
}

.noNotifications {
  margin-left: 10px;
}
@media only screen and (max-width: 992px) {
  .navBarSearchBoxInput,
  .userProfileCard {
    display: none;
  }
  .navBarSearchBox {
    cursor: pointer;
    width: 40px;
  }
  .navBarMenu {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  .navBarMainHeader {
    display: none;
  }
}
